@model IEnumerable<Task2Identity.Models.Student>

@{
    ViewData["Title"] = "StudentofSaquib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StudentofSaquib</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.S_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.S_Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.S_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.S_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.S_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
